$font-oswald: 'Oswald', Impact, "Franklin Gothic Bold", sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-sans-serif: $font-opensans;
$transition-time: 200ms;
$images-path: "../images";
$text-dark: #646464;
$breakpoint-medium: 640px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$col-width: 300px;

//--colors
$orange: #E08907;
$footer-bg: #444;