@import "variables";
@import "normalize";

/* Changes */
#main{
    padding: 15px 20px;
    background: white;
}

.p-subtitle{
    color: #999;
}

/* Base style */

* {
    transition-duration: 0.5s;
    box-sizing: border-box
}

html {
    font-size: 62.5%
}

body {
    color: white;
    background: black;
    line-height: 1.57;
    font-size: 1.0rem;
    font-family: $font-sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: $font-oswald;
    font-size: 30px;
    color: #515151;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    margin: 0 auto 1rem;
    line-height: 1.2;
}

li,
p {
    font-size: 1.6rem;
    color: inherit;
    margin: 0 0 1.5rem;
}

a {
    color: #337ab7;
    text-decoration: none;
    transition: color $transition-time;
}

a:hover,
a:visited {
    color: #175081
}

ul li {
    color: $text-dark;
    list-style: disc
}

ol li {
    color: $text-dark;
    list-style: decimal
}

blockquote {
    margin: 0 0 15px;
    padding: 8px 12px;
    border-left: 3px solid #ccc
}

blockquote * {
    margin: 0
}

img {
    max-width: 100%;
    height: auto
}

.p-screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.p-screen-reader-text:hover,
.p-screen-reader-text:active,
.p-screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #337ab7;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

@mixin sr-only {
    //--hides for everything except screenreader
    //--because we can't @extend foundation's .show-for-sr
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.sr-only {
    @include sr-only;
}

.main {
    padding: 15px 20px;
    background: white;
    border-radius: 0;
    min-height: 50vh;

    p {
        font-size: 14px;
        color: #646464;
    }

    a {
        text-decoration: underline;
    }
}

.main-wrapper {
    padding: 0 15px;
    background: url(#{$images-path}/green-space.webp) no-repeat center;
    background-size: cover;

    @media (min-width: $breakpoint-medium) {
        padding: 0 20px;
    }
}

.main-title {
    font-size: 32px;
    color: #B7B7B7;
    margin: 0 auto 10px;
    font-weight: $font-weight-medium;

    @media (min-width: $breakpoint-medium) {
        font-size: 58px;
    }
}

.main-title-wrapper {
    @media (min-width: $breakpoint-xlarge) {
        padding: 0 15px;
        margin: 0;
    }
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.button {
    display: inline-block;
    background: $orange;
    color: white;
    font-family: $font-oswald;
    font-size: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    border: 0;
    border-radius: 7px;
    transition: background-color $transition-time;
    cursor: pointer;
    position: relative;
    z-index: 1;
    outline: 0;

    &:hover,
    &:after {
        background: darken($orange,10%);
    }

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $orange;
        animation: pulse-out 1.75s ease-out infinite;
        z-index: -1;
        border-radius: 7px;
        pointer-events: none;
    }
}

.article {

    @media (min-width: $breakpoint-medium) {
        display: flex;
    }

    &:not(:last-child){
        margin-bottom: 15px;

        @media (min-width: $breakpoint-large) {
            margin-bottom: 20px;
        }
    }

    //&__left-col {
    //    width: $col-width;
    //    display: none;
    //
    //    @media (min-width: $breakpoint-xxlarge) {
    //        display: block;
    //    }
    //}

    &__right-col {
        width: $col-width;
        display: none;

        @media (min-width: $breakpoint-medium) {
            display: block;
        }
    }

    &__middle-col {
        flex: 1;
        padding: 0;
        margin: 0 0 15px;

        @media (min-width: $breakpoint-medium) {
            padding: 0 15px 0 0;
            margin: 0;
        }

        @media (min-width: $breakpoint-large) {
            padding: 0 15px;
        }

    }
}

.generated-content {

    margin-bottom: 20px;

    p {
        font-size: 17px;
        margin: 0 0 15px;
        font-weight: $font-weight-bold;
        line-height: 1;
    }
}

.ad {
    $c: &;
    //background: grey;
    //margin: 0 0 15px;
    //min-height: 100px;
    //
    //@media (min-width: $breakpoint-large) {
    //    margin-bottom: 20px;
    //}

    &:last-child {
        margin-bottom: 0;
    }

    & + #{$c} {
        margin-top: 20px;
    }
}

.p-menu__lists {
    margin: 0;
    padding: 0 0 0 20px;



    li {
        list-style: square;
    }

    a,
    a:visited {
        color: $text-dark;
        font-size: 16px;
    }

    a:hover,
    a:active {
        color: black;
    }
}

.hide-for-medium {
    @media (min-width: $breakpoint-medium) {
        display: none;
    }
}

.show-for-medium {
    display: none;

    @media (min-width: $breakpoint-medium) {
        display: block;
    }
}

.alien-species {
    margin: 0 0 25px;

    &:last-child {
        margin-bottom: 0;
    }

    p {
        line-height: 1.5;
        margin: 0 0 8px;
        font-weight: normal;
    }

    em {
        font-weight: $font-weight-bold;
        font-style: normal;
    }
}

.paragraphs {
    //--used for technobabble & story idea
    p {
        line-height: 1.4;
        font-weight: normal;
        margin: 10px 0 15px;
    }
}

table {
    margin-bottom: 20px;
    th,
    td {
        color: $text-dark;
        font-size: 16px;
        padding: 0 10px 5px 0;
    }
}

@import "topbar";
@import "grid";
@import "footer";
@import "animations";