@import "variables";
@import "normalize";

/* Changes */
#main{
    border-radius: 0.15%;
    padding: 15px 20px;
    background: white;
}

.p-subtitle{
    color: #999;
}

/* Base style */

* {
    transition-duration: 0.5s;
    box-sizing: border-box
}

html {
    font-size: 62.5%
}

body {
    color: white;
    background: black;
    line-height: 1.57;
    font-size: 1.0rem;
    font-family: $font-sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: $font-oswald;
    font-size: 16px;
    color: #515151;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    margin-bottom: 1rem;
}

p {
    font-size: 1.6rem;
    color: inherit;
    margin: 0 0 1.5rem;
}

a {
    color: #337ab7;
    text-decoration: none;
    transition: color $transition-time;
}

a:hover,
a:visited {
    color: #175081
}

ul li {
    list-style: disc
}

ol li {
    list-style: decimal
}

li {
    font-size: 1.6rem
}

blockquote {
    margin: 0;
    padding: 8px 12px;
    border-left: 3px solid #ccc
}

blockquote * {
    margin: 0
}

img {
    max-width: 100%;
    height: auto
}

.p-screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.p-screen-reader-text:hover,
.p-screen-reader-text:active,
.p-screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #337ab7;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

@mixin sr-only {
    //--hides for everything except screenreader
    //--because we can't @extend foundation's .show-for-sr
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.sr-only {
    @include sr-only;
}

.main {
    padding: 15px 20px;
    background: white;

    p {
        font-size: 14px;
        color: #646464;
    }
}

.main-wrapper {
    padding: 0 15px;
    background: url(#{$images-path}/green-space.jpg) no-repeat center;
    background-size: cover;

    @media (min-width: $breakpoint-medium) {
        padding: 0 20px;
    }
}

.main-title {
    font-size: 58px;
    color: #B7B7B7;
    margin-bottom: 20px;
    font-weight: $font-weight-medium;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}


@import "topbar";
@import "grid";
@import "footer";