{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="p-article">
    {{ partial "article-title.html" . }}

    <section class="article">

        {{ partial "left-col.html" . }}

        <div class="article__middle-col">
            {{ .Content }}

            {{ partial "content-ad.html" . }}

            <h2>Random generated corporation names</h2>

            <div class="generated-content">
                <!-- names appear here -->

                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
                <p class="single-line"></p>
            </div>

            <button class="button generate-button" onclick=generateAll()>Generate more!</button>
        </div>

        {{ partial "right-col.html" . }}

    </section>

    {{ partial "bottom-ad.html" . }}

</article>

<script src="/js/planet-name-generator.js" defer></script>
<script src="/js/company-name-generator.js" defer></script>

{{ partial "footer.html" . }}
