{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="p-article">
    {{ partial "article-title.html" . }}

    <section class="article">

        {{ partial "left-col.html" . }}

        <div class="article__middle-col">
            {{ .Content }}

            {{ partial "content-ad.html" . }}

            <h2>Gang/Clan name generator</h2>

            <div class="generated-content">

                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>
                <p class="gang-name"></p>


            </div>

            <button class="button generate-button" onclick=generateNewGang()>Generate more!</button>
        </div>

        {{ partial "right-col.html" . }}

    </section>

    {{ partial "bottom-ad.html" . }}

</article>


<script src="/js/gang-name-generator.js" defer></script>

{{ partial "footer.html" . }}
