{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL  }}
<article class="p-article">
    {{ partial "article-title.html" . }}

    <section class="article">

        {{ partial "left-col.html" . }}

        <div class="article__middle-col">
            {{ .Content }}

            {{ partial "content-ad.html" . }}

            <h2>Random Scenario/story idea generator</h2>

            <div class="generated-content paragraphs">

                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>
                <p class="story-idea"></p>


            </div>

            <button class="button generate-button" onclick=generateAll()>Generate more!</button>
        </div>

        {{ partial "right-col.html" . }}

    </section>

    {{ partial "bottom-ad.html" . }}

</article>

<script src="/js/planet-name-generator.js" async></script>
<script src="/js/scenario-generator.js" async></script>

{{ partial "footer.html" . }}
