{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="p-article">
    {{ partial "article-title.html" . }}

    <section class="article">

        {{ partial "left-col.html" . }}

        <div class="article__middle-col">
            {{ .Content }}

            {{ partial "content-ad.html" . }}

            <h2>Scifi story title generator</h2>

            <div id="generated-names" class="generated-content">
                <!-- names appear here -->
            </div>

            <button class="button generate-button" onclick=generateNew()>Generate more!</button>
        </div>

        {{ partial "right-col.html" . }}

    </section>

    {{ partial "bottom-ad.html" . }}

</article>

<script src="/js/planet-name-generator.js"></script>
<script src="/js/story-title-generator.js"></script>

{{ partial "footer.html" . }}
