/* Socila icons Lite. Developed By : Vyas Dipen */
.social-icons{
list-style:none;
float:left;
display:block;
margin: 5px;
background:none;
box-shadow:0;
}

.sbr_box .widget-title{text-transform:capitalize;}
/*
     FILE ARCHIVED ON 04:45:30 Oct 12, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:53:00 May 24, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 203.815 (3)
  PetaboxLoader3.datanode: 36.875 (4)
  exclusion.robots: 0.171
  RedisCDXSource: 2.681
  CDXLines.iter: 12.244 (3)
  exclusion.robots.policy: 0.159
  load_resource: 231.014
  esindex: 0.012
  captures_list: 221.914
  PetaboxLoader3.resolve: 375.226 (2)
*/