<div class="hide-for-medium">
    <div class="ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- SFI bottom mobile ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6437916505798327"
             data-ad-slot="2187536955"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="ad botsumo-ad">
        <img src="/images/botsumo580x400.png" alt="BotSumo Android game">
        <a href="https://apps.apple.com/us/app/botsumo-for-2-players/id1376842951" class="show-for-ios"><span class="sr-only">Download for iOS</span></a>
        <a href="https://play.google.com/store/apps/details?id=com.DavidDickBall.RoboSumo" class="show-for-android"><span class="sr-only">Download from Google Play</span></a>
    </div>
</div>

<div class="show-for-medium">
    <div class="ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- SFI Wide ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6437916505798327"
             data-ad-slot="3692190316"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

