<div class="hide-for-medium">
    <div class="ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- SFI bottom mobile ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6437916505798327"
             data-ad-slot="2187536955"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

<div class="show-for-medium">
    <div class="ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- SFI Wide ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6437916505798327"
             data-ad-slot="3692190316"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>

