<div class="article__right-col">
    <div class="ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- SFI vertical -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6437916505798327"
             data-ad-slot="5771558749"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- SFI vertical -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6437916505798327"
             data-ad-slot="5771558749"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- SFI vertical -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6437916505798327"
             data-ad-slot="5771558749"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>