{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="p-article">
    <header class="main-title-wrapper">
        <h1 class="main-title">{{ .Title }}</h1>
    </header>

    <section class="article">

        <div class="article__left-col">

        </div>

        <div class="article__middle-col">
            {{ .Content }}

            <ul class="p-menu__lists">
                {{ range .Site.RegularPages }}
                <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                </li>
                {{ end }}
            </ul>

        </div>

        <div class="article__right-col">

        </div>

    </section>

</article>
{{ partial "footer.html" . }}
