{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="p-article">
    <header class="main-title-wrapper">
        <h1 class="main-title">{{ .Title }}</h1>
    </header>

    <section class="article">
        <h2 class="sr-only">Scifi ideas for writers</h2>

        {{ partial "left-col.html" . }}

        <div class="article__middle-col">
            {{ .Content }}

            <ul class="p-menu__lists">
                {{ range .Site.RegularPages }}
                <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                </li>
                {{ end }}
            </ul>
        </div>

        {{ partial "right-col.html" . }}

    </section>

    {{ partial "bottom-ad.html" . }}

</article>
{{ partial "footer.html" . }}
